* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a { 
    text-decoration: none;
    color: inherit;
}


body {
    height: 500vh;
    background-image: linear-gradient(to bottom, red, hotpink, lightgreen, green, aqua, blue);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
}
nav button {
    padding: 5px 10px;
    cursor: pointer;
}

/* scroll 전 작업했던 이력
h1 {
    font: bold 50px/1 "arial";

}
section {
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    position: relative;

}
article {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 0px;
} */